body {
    background-color: #00BFFF;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h1 {
    font-size: 2em;
    font-family: 'Arial', Calibri, 'Trebuchet MS', sans-serif;
    color: #00008B;
}

.get-data {
    font-size: 2em;
}